/*
 * @Author: jianghao0302 312143663@qq.com
 * @Date: 2025-11-26 18:54:45
 * @LastEditors: jianghao0302 312143663@qq.com
 * @LastEditTime: 2025-11-26 22:23:44
 * @FilePath: /uboot-imx/arch/arm/dts/imx6ull-14x14-alpha-emmc.dts
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 */
// SPDX-License-Identifier: (GPL-2.0 OR MIT)
//
// Copyright (C) 2016 Freescale Semiconductor, Inc.

/dts-v1/;

#include "imx6ull.dtsi"
#include "imx6ull-14x14-alpha.dtsi"
#include "imx6ull-14x14-alpha-u-boot.dtsi"

/ {
	model = "i.MX6 ULL 14x14 ALPHA Board";
	compatible = "alpha,imx6ull-14x14-alpha-emmc", "fsl,imx6ull-14x14-evk", "fsl,imx6ull";

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 500000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
		status = "okay";
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_leds>;

		led1 {
			label = "red";
			gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};
};

&clks {
	assigned-clocks = <&clks IMX6UL_CLK_PLL3_PFD2>,
			  <&clks IMX6UL_CLK_PLL4_AUDIO_DIV>;
	assigned-clock-rates = <320000000>, <786432000>;
};

&csi {
	status = "okay";
};

&ov5640 {
	status = "okay";
};

/delete-node/ &sim2;

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2_8bit>;
	pinctrl-1 = <&pinctrl_usdhc2_8bit_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc2_8bit_200mhz>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

